body{
  background-color: #D1E8E4;
}
.container {
  display: flex;
  height: 500px;
  justify-content: center;
  align-items: center;
}

@media all and (max-width:710px){ 
  .container {
    display: flex;
    flex-direction: column;
  }}

.desc {
  margin-left: 10px;
}

button {
  background-color: #ba3e57;
  color: #fff;
  padding: 15px;
  text-transform: uppercase;
  margin: 40px;
  border-radius: 20px;
  border: 1px solid white;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}